@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.icon {
    color: rgb(136, 136, 136);
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary-background{
    background: black;

}

.list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.list-item .link-item {
    text-decoration: none;
    color: var(--tg-theme-secondary-bg-color);
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}
